*{
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    font-size: larger;
    
}

ul{
    list-style: none;
   
}

.container{
    width: calc(100% - 120px);
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}